%h2 Preview Constitution

= render :partial => 'shared/constitution'
  
%p= link_to("Okay, continue.", :controller => 'induction', :action => 'founding_meeting_details')
%p= link_to("Go back", :controller => 'induction', :action => 'voting_settings')
