%h3 Preview Constitution

= render :partial => 'shared/constitution', :locals => {:allow_changes => false}
  
%p= link_to("Okay, continue.", :controller => 'induction', :action => 'founding_meeting_details')
%p= link_to("Go back", :controller => 'induction', :action => 'voting_settings')
