%form{ :action => url(:action=>:reset), :method => "POST", "accept-charset" => "utf-8" }
  %input{ :name => "_method", :type => "hidden", :value => "PUT" }

    %label
      Email
      %input{ :name => 'email', :type => "text", :id => 'email', :value => "" }
  .formRow
    %input#Submit{ :name => "Submit", :type => "submit", :value => "Send" }

  