%h1 Decisions controller, new action

%p 
  Edit this file in 
  %tt app/views/decisions/new.html.erb

= error_messages_for @decision

= form_for(@decision, :action => url(:decisions) ) do
  %p
    = submit "Create"

= link_to 'Back', url(:decisions)