body
  :font-family Arial, "MS Trebuchet", sans-serif

.header
  :text-align center
  
#nav
  :text-align center

#navitem
  :display inline
  :color rgb(23,56,23)
  :margin-left 2em
  :margin-right 2em
	
.footer
  :font-size 0.7em
  :text-align center
  :margin-top 20px

#doc
  :width 950px
  :margin auto
  
#hd #bd .footer
  :width 950px
  :margin auto
  
table#proposal
  :width 900px
  :margin auto
  :border 1px solid #004422

table#proposal td#vote
  :text-align center
  :width 12em
  
table#proposal form
  :display inline
  
table#proposal input
  :width 7em
  :margin auto
  
th#proposal
  :background-color #356AA0
  
td#proposal_ends_in
  :text-align center
  :width 14em

tr.vote_for
  :background-color #6BBA70
  
tr.vote_against
  :background-color #B02B2C
  
tr.vote_in_progress
  :background-color #C79810

tr.proposal_one
  :background-color #CDEB8B
  
tr.proposal_two
  :background-color #C3D9FF


div.description
  :font-size 0.7em
  :padding-left 1em
  :padding-right 1em
  :padding-top 0.1em
  :text-align justify



  

label,input, textarea
  :display block
  :width 30em
  :float left
  :margin-bottom 10px

textarea
  :height 10em
  :width 25em

label
  :text-align right
  :width 10em
  :padding-right 1em

br
  :clear left
  
input#submit
  :width 10em
  :margin-left 16em
  
form
  :clear left
  
.control_bar
  :position absolute
  :right 0.5em
  :top 0.2em