* {
  margin: 0;
  padding: 0; }

body {
  background-color: #f6f6f6;
  color: #333333;
  font-family: "Myriad", "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* Prevent Feedback tab overlapping content */
  padding: 0 40px; }

#container {
  background-color: white;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 800px;
  padding: 12px; }

div.clear {
  clear: left; }

/* Header */
.control_bar {
  color: #666666;
  float: right;
  font-size: 0.75em;
  padding: 6px 0;
  text-align: right; }

.control_bar a {
  text-decoration: none; }

h1.header {
  font-size: 2.4em;
  font-family: Georgia, "Times New Roman", serif;
  margin-bottom: 4px; }
  h1.header a {
    color: black;
    text-decoration: none; }
    h1.header a:hover {
      text-decoration: underline; }

#doc,
#hd #bd .footer {
  margin: auto; }

#hd {
  border-bottom: 1px solid #999999;
  padding: 6px 0; }

#hd p {
  color: #666666;
  font-size: 0.7em; }
  #hd p a {
    color: #666666;
    text-decoration: none; }
    #hd p a:hover {
      text-decoration: underline; }

br,
form,
form p,
h2,
h4 {
  clear: left; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

a {
  color: #627fc4; }
  a:hover {
    color: #333333;
    text-decoration: underline; }

/* Navigation */
#nav {
  margin: 12px 0; }
  #nav li {
    display: inline;
    padding-right: 80px; }
  #nav a {
    text-decoration: none; }
    #nav a:hover {
      text-decoration: underline; }

#navitem {
  display: inline;
  margin: 0;
  padding: 0; }

/* Header notifications */
#notice, #error {
  font-size: 0.8em;
  margin: 4px 0;
  padding: 12px; }

#notice {
  background-color: #c9dcc0;
  clear: both; }

#error {
  background-color: #df4242; }

/* Body */
#bd a.cancel {
  color: red;
  font-size: 0.9em; }
#bd p {
  color: #333333;
  margin-bottom: 12px; }
#bd ul {
  margin: 0 0 1em 2em; }
  #bd ul li {
    margin: 0.3em 0; }
#bd .section {
  background: #f5f5fe;
  border: 1px solid #999999;
  margin-bottom: 18px;
  padding: 12px; }
  #bd .section p.explanation {
    color: #666666; }
#bd .open-proposals h4 {
  margin: 18px 0 6px 0; }
#bd .open-proposals span.time-ends {
  color: #666666;
  font-size: 0.8em;
  font-weight: normal; }
#bd .open-proposals p.votes {
  float: left;
  margin-right: 24px; }

/* Tables */
table {
  border-collapse: collapse;
  margin: 1em 0 2em 0;
  text-align: left; }
  table th {
    border-bottom: 1px dashed #cccccc;
    font-weight: bold;
    white-space: nowrap; }
  table th, table td {
    padding: 0.4em 0.6em; }
  table td.timestamp {
    white-space: nowrap; }
  table tr.even td {
    background: #e9e9f4; }

table.proposals, table.decisions, table.failed_proposals {
  border: 1px #004422 solid;
  margin: auto;
  width: 900px; }
  table.proposals td.vote, table.decisions td.vote, table.failed_proposals td.vote {
    text-align: center;
    width: 12em; }
  table.proposals form, table.decisions form, table.failed_proposals form {
    display: inline; }
  table.proposals input, table.decisions input, table.failed_proposals input {
    margin: auto;
    width: 7em; }
  table.proposals td.proposal_ends_in, table.decisions td.proposal_ends_in, table.failed_proposals td.proposal_ends_in {
    text-align: center;
    width: 14em; }

tr.vote_for {
  background-color: #6bba70;
  color: white; }
  tr.vote_for:hover {
    background-color: #499850; }

tr.vote_against {
  background-color: #b02b2c;
  color: white; }
  tr.vote_against:hover {
    background-color: #a0090a; }

tr.vote_in_progress {
  background-color: #c79810;
  color: white; }
  tr.vote_in_progress:hover {
    background-color: #a57600; }

tr.vote_for a, tr.vote_against a, tr.vote_in_progress a {
  color: white; }

div.description {
  font-size: 0.8em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  text-align: justify; }

/* Forms */
label, input, textarea, select {
  display: block;
  font-family: "Myriad", "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 0.2em;
  width: 30em; }

label {
  padding-right: 1em;
  margin-bottom: 2px; }

input[type=hidden] {
  display: inline; }

input.checkbox {
  display: inline;
  margin: 5px;
  width: auto;
  float: none; }

textarea {
  height: 10em;
  width: 30em; }

div.open-proposals form {
  clear: none;
  float: left; }

div.open-proposals form input {
  width: 5em; }

form input[type="submit"] {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #c9dcc0;
  border: 1px solid #333333;
  padding: 3px; }
  form input[type="submit"]:hover {
    background-color: #a1c2a3; }

input#organisation_subdomain {
  float: left;
  margin-right: 4px;
  text-align: right; }

/* Footer */
.footer {
  font-size: 0.7em;
  margin-top: 20px;
  text-align: center;
  clear: both; }

ul.constitution li input[type=hidden] {
  float: right;
  width: 0; }

div.constitution_proposal {
  float: right;
  border: 1px solid #004422;
  padding: 0.5em 0.5em 0;
  background-color: #dddddd;
  margin: 0 0 0.5em 0.5em; }
  div.constitution_proposal label, div.constitution_proposal input, div.constitution_proposal textarea {
    float: none;
    width: auto; }
  div.constitution_proposal p {
    margin: 0 0 0.5em; }

form div.constitution_proposal input#submit {
  margin: 0; }

ul.founding_members li {
  clear: left; }

dl.settings dt {
  font-weight: bold;
  border-top: 1px solid #004422;
  margin-top: 1em;
  clear: right; }
