-form(:controller => 'one_click', :action => 'propose_assets_amendment') do
  %div.constitution_proposal
    %p.reveal_link
      %a{:href => '#'}
        Propose adding a clause to allow holding of assets
    %div.proposal_form{:style => 'display: none;'}
      %p
        Propose that the organisation should be allowed to hold, transfer or dispose of material assets and intangible assets.
      %input{:type => 'hidden', :name => 'new_assets_value', :value => '1'}
      %p
        = submit_tag "Propose change", :id => 'submit'
      %p
        %a{:href => '#', :class => 'cancel_link'}
          Cancel
