%h2
  You chose to not join 
  = @organisation_name

%p You can come back at any time to accept your invitation of membership.

%p
  To get more information on One Click Orgs visit 
  = link_to("oneclickorgs.com", 'http://www.oneclickorgs.com/')
