%form{:action=>url(:action=>'propose_voting_system_amendment'), :method=>:post}
  %div.constitution_proposal
    %p.reveal_link
      %a{:href => '#'}
        Propose an amendment to this clause
    %div.proposal_form{:style => 'display: none;'}
      %p
        =partial 'voting_system_field', :type => type, :description => description
      %p
        = submit "Propose change", :id => 'submit'
      %p
        %a{:href => '#', :class => 'cancel_link'}
          Cancel