%h3 Constitution

%ol

  %li This is the constitution (“Constitution”) of the One Click Organisations Project (“OCO”).

  %li OCO has the objectives (“Objectives”) of developing, hosting  and promoting software to simplify the process of creating a legal structure and managing an organisation, based on constitutional models developed by CIRCUS foundation’s Themis Project.

  %li CIRCUS foundation is an unincorporated association under English law whose Custodian is named at and contacted via the website http://CIRCUS-foundation.org.

  %li Source code for all software developed by OCO will be released under an open licence enabling others to modify and extend it freely.

  %li OCO directs CIRCUS foundation to hold and transfer material assets and intangible assets on its behalf until alternative arrangements are made.

  %li OCO uses an electronic management system to automate clerical processes (“OCO Management System”).

  %li OCO has one or more members (“Members”) who support OCO’s Objectives.

  %li Members may access the OCO Management System at the website http://manage.oneclickor.gs/.

  %li Members may view a register of current Members on the OCO Management System.

  %li Members may submit a proposal (“Proposal”) on the OCO Management System.

  %li A Proposal may be voted on for the period of 72 hours starting with its submission (“Voting Period”).

  %li Members may view a register of current Proposals on the OCO Management System.

  %li Members may vote to support (“Supporting Vote”) or vote to oppose (“Opposing Vote”) a Proposal on the OCO Management System during the Proposal’s Voting Period.

  %li Members may only vote on Proposals submitted during their membership of OCO.

  %li A decision (“Decision”) to enact a Proposal is made when Supporting Votes have been received from more than half of the Members during the Voting Period; or when more Supporting Votes than Opposing Votes have been received for the Proposal at the end of the Voting Period.

  %li Members may view a register of all Decisions on the OCO Management System.

  %li A new Member is appointed by a Decision.

  %li An amendment to the Constitution is made by a Decision.

  %li Members may resign from OCO by informing the Custodian of CIRCUS foundation in writing.

  %li If at any time the number of Members is zero the Custodian of CIRCUS foundation shall have the right to appoint one, two or three new Members.

%h4 New Proposal
= form_for(@new_proposal, :action => resource('proposals')) do
  = text_field :title, :label => "Title  "
  %br
  = text_area :description, :label => "Description "
  %br
  = submit "Create Proposal", :id => 'submit'
  %br