- if proposal.vote_by(current_user)
  = Vote.for_or_against(proposal.vote_by(current_user).for)
- else
  - form_tag(:controller => :votes, :action => :vote_for, :id => proposal.id, :return_to => request.url) do
    = submit_tag "Support"
  - form_tag(:controller => :votes, :action => :vote_against, :id => proposal.id, :return_to => request.url) do
    = submit "Oppose"