%h3 Proposal

%table#proposal
  %tr
    %th#proposal Title
    %th#proposal Ended
    %th#proposal Vote
  - on = true
  - if @proposals
    - for proposal in @proposals
      - on = !on    
      - on ? p = "one" : p = "two"
      %tr{:class => "proposal_#{p}"}
        %td= proposal.title
        %td#proposal_ends_in
          = proposal.close_date
        %td#vote
          = partial :vote_count, :proposal => proposal