%h4
  New Member
%p
  = form_for(@new_member, :action => url(:members) ) do
    %p
      = text_field :email, :label => "Email Address "
    %p
      = text_field :name, :label => "Name "
    %p
      = submit "Add Member", :id => 'submit'